@model TCC.Models.Reserva

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Cliente.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/CSS/form.css">
<h1 class="formTitle">Faça a Sua reserva aqui</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="wrapper">
        <section class="input-Data">
            @Html.EditorFor(model => model.DataHoraReserva)
            <section class="line"></section>
            @Html.LabelFor(model => model.DataHoraReserva)
        </section>
        @Html.ValidationMessageFor(model => model.DataHoraReserva, "", new { @class = "text-danger" })
    </div>

    <div class="wrapper">
        <section class="dropDown-Data">
            @Html.DropDownListFor(model => model.Mesa.Numlugares, ViewBag.Lista as SelectList, "Selecione o número de cadeiras", new { @class = "dropdown" })
            <section class="line"></section>
        </section>
        @Html.ValidationMessageFor(model => model.Mesa.Numlugares, "", new { @class = "text-danger" })
    </div>
    <div class="wrapper">
        <section class="dropDown-Data">
            @Html.DropDownListFor(model => model.Mesa.TipoLugar, ViewBag.ListaTipoLugar as SelectList, "Selecione um tipo de lugar", new { @class = "dropdown" })
            <section class="line"></section>
        </section>
        @Html.ValidationMessageFor(model => model.Mesa.TipoLugar, "", new { @class = "text-danger" })
    </div>
    <div class="bottomForm">
        <section class="bottomFormBottom">
            <button type="submit" id="submit">Reservar</button>
        </section>
    </div>
    @Html.Raw(TempData["msg"])
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/Scripts/Myscript.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}