@model IEnumerable<TCC.Models.Produto>
@using TCC.Models; 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th></th>
    </tr>

        @if (Session["Carrinho"] != null)
        {
            List<Produto> lista = (List<Produto>)Session["Carrinho"];
            foreach (Produto produto in lista)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => produto.NomeProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => produto.ValorProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => produto.Imagem)
                </td>


                @*@foreach(var item in (Session["Carrinho"] as List<TCC.Models.Produto>)){

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeProd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorProd)
                            </td>

                    <td>*@
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                @*</td>*@
            </tr>
        }
        }
</table>

