
@{
    Layout = null;
}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <script src="https://kit.fontawesome.com/8f0503e7b9.js" crossorigin="anonymous"></script>
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image / x-icon" />
    <title>Tacos & Natchos | Site Oficial</title>
</head>
<body>
    <header>
        <div class="menu responsiveMenu">
            <section class="logoWriter">
                <a href="@Url.Action("Index","Home")"> <img src="~/imagens/logo_writer_bone.png" alt="Tachos Y Natchos" class="writer"></a>
            </section>

            <nav class="menuItens">
                <li><a class="resposiveMenuTab" href="@Url.Action("List","Produto")">Cardápio</a></li>
                <li><a class="resposiveMenuTab" href="@Url.Action("Create","Reserva")">Reserva</a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-user" onclick="showOnOffSettings()"></i></a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-shopping-cart " onclick="toggleCart()"></i></a></li>
            </nav>
        </div>
    </header>
    <main>
        <div class="settings hide">
            <h3>Configurações</h3>
            <section class="settingsItems">
                <a href="@Url.Action("Edit", "Cliente", new {IdCli = Session["IdCli"].ToString()})">
                    <span class="icon"><i class="fas fa-user-alt"></i></span>
                    <span class="title">Meus dados</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="@Url.Action("UltimosPedidosCli", "Produto_Pedido", new {IdCli = Session["IdCli"].ToString()})">
                    <span class="icon"><i class="fas fa-history"></i></span>
                    <span class="title">Últimos Pedidos</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="@Url.Action("MostraReservaCli", "Reserva", new {IdCli = Session["IdCli"].ToString()})">
                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                    <span class="title">Reserva</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="@Url.Action("List","Cupom")">
                    <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                    <span class="title">Cupons</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="@Url.Action("SelecionaComNumCartaoCli","Cartao", new {IdCli = Session["IdCli"].ToString()})">
                    <span class="icon"><i class="fas fa-credit-card"></i></span>
                    <span class="title">Cartão</span>
                </a>
            </section>

            <section class="settingsItems">
                <a href="@Url.Action("Logout","Usuario")">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Sair</span>
                </a>
            </section>
        </div>
        <div class="cartBar hide">
            <section class="cartTitle"><h1>Meus Pedidos</h1>@Html.Partial("_AdicionaCarrinho")</section>
            @RenderSection("cart", required: false)
        </div>

        <div class="imagenContainer">
            <section class="titleImg"></section>
        </div>

        <div class="toggle" onclick="toggleMenu()"></div>

        <div class="contentGeral">
            @RenderBody()
        </div>

    </main>

    <footer>
        <section class="footerContent">
            <section class="footerContentTop">
                <section class="Contato">
                    <h2>Contato</h2>
                    <p>Telefone: (11) 98276-8933</p>
                    <p>E-mail: tacosynatchos@tacosynatchos.com.br</p>
                </section>
                <section class="End">
                    <h2>Endereço</h2>
                    <p>Rua Rui barbosa, Centro- Bela Vista/SP</p>
                </section>
                <section class="Social">
                    <h2>Social</h2>
                    <a target="_blank" href="https://instagram.com/resttacos?igshid=dm0bu8elb41l"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/tacos.mexicano.503/"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=55123456789"><i class="fab fa-whatsapp"></i></a>

                </section>
            </section>
            <section class="foooterContentBottom">
                <p>All Right reserved dy Tacos & Natchos</p>
            </section>
        </section>
    </footer>

    <script>
        function toggleMenu() {
            let navigation = document.querySelector(".navigation");
            let toggle = document.querySelector(".toggle");
            navigation.classList.toggle("active");
            toggle.classList.toggle("active");
        }

        function showSearch() {
            let search = document.getElementById("body");
            search.classList.add("blur");
        }

        function showOnOffSettings() {
            let user = document.querySelector(".fa-user");
            let settings = document.querySelector(".settings");
            settings.classList.toggle("hide");
        }


        let subeMenu = document.querySelectorAll(".collapse");
        subeMenu.forEach(subeMenur => {
            console.log(subeMenur);
            let collapse = subeMenur.querySelector(".collapseSubMenu");
            console.log(collapse);
            subeMenur.addEventListener("click", () => {

                collapse.classList.toggle("hide");

            });
        });
        function toggleCart() {
            let Cart = document.querySelector(".cart");
            let showCart = document.querySelector(".cartBar");
            showCart.classList.toggle("hide");

        }

    </script>
    @*@Scripts.Render("~/bundles/inputmask")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>