<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <script src="https://kit.fontawesome.com/8f0503e7b9.js" crossorigin="anonymous"></script>
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image / x-icon" />
    <title>Tacos & Natchos | Site Oficial</title>
</head>
<body>
    <header>
        <div class="menu">
            <section class="logoWriter">
                <img src="~/imagens/logo_writer_bone.png" alt="Tachos Y Natchos" class="writer">
            </section>

            <nav class="menuItens">
                <li><a href="@Url.Action("List","Produto")">Cardápio</a></li>
                <li><a href="@Url.Action("Create","Reserva")">Reseva</a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-user" onclick="showOnOffSettings()"></i></a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-shopping-cart " onclick="toggleCart()"></i></a></li>
            </nav>
        </div>
    </header>
    <main>
        <div class="settings hide">
            <h3>Configurações</h3>
            @*<section class="settingsItems">
                <a href="@Url.Action("Edit", "Funcionario", new {IdFunc = Session["IdFunc"].ToString()})">
                    @Html.ActionLink("Edit", "Funcionario", new { IdFunc = Session["IdFunc"].ToString() });
                    <span class="icon"><i class="fas fa-user-alt"></i></span>
                    <span class="title">Meus dados</span>
                </a>
            </section>*@
            <section class="settingsItems">
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Sair</span>
                </a>
            </section>
        </div>
        <div class="navigation background">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">Cliente</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-id-card"></i></span>
                        <span class="title">Funcionário</span>
                    </a>
                </li>
            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-pepper-hot"></i></span>
                        <span class="title">Produtos</span>
                        <!--"fas fa-sort-down" -->
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-sync"></i></span>
                            <span class="title">Atualizar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-minus"></i></span>
                            <span class="title">Deletar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="list.html">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>

            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-drumstick-bite"></i></span>
                        <span class="title">Ingredientes</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-sync"></i></span>
                            <span class="title">Atualizar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-minus"></i></span>
                            <span class="title">Deletar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="title">Cupons</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-map"></i></span>
                        <span class="title">Cardápio</span> <!-- span é um line container, so usado quando não há nada mais semantido encaixar -->
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                        <span class="title">Reserva</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-truck"></i></span>
                        <span class="title">Delivery</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="cartBar hide">
            <section class="cartTitle"><h1>Meus Pedidos</h1></section>
            <div class="contetCart">
                <section class="itenCart">
                    <i class="fas fa-times"></i>
                    <secton class="imgProd">
                        <img src="https://picsum.photos/536/354" alt="FOTO">
                    </secton>
                    <secton class="infoProd">
                        <p class="nameProd">Lorem ipsum dolor sit amet</p>
                        <p>R$:</p>
                    </secton>
                </section>
            </div>
            <section class="cartFooter">
                <p>Saldo: </p>
                <section class="cartFoooterButtons">
                    <button type="submit">Pagar</button>
                    <button type="submit" class="cartFooterButtonClear">Limpar</button>
                </section>
            </section>
        </div>

        <div class="flootSearch">

        </div>

        <div class="toggle" onclick="toggleMenu()"></div>

        <div class="content">
            @RenderBody()

        </div>

    </main>

    <footer>
        <section class="footerContent">
            <section class="footerContentTop">
                <section class="Contato">
                    <h2>Contato</h2>
                    @*<p><i class="fas fa-phone-volume"></i> (11) 9456-789</p>
                        <p><i class="fas fa-envelope"></i> tacosynatchos@tacosynatchos.com.br</p>*@
                    <p>Telefone: (11) 9456-789</p>
                    <p>E-mail: tacosynatchos@tacosynatchos.com.br</p>
                </section>
                <section class="End">
                    <h2>Endereço</h2>
                    <p>Rua das Dores, 123 Vila formosa São Paulo Brasil</p>
                </section>
                <section class="Social">
                    <h2>Social</h2>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>

                </section>
            </section>
            <section class="foooterContentBottom">
                <p>All Right reserved dy Tacos & Natchos</p>
            </section>
        </section>
    </footer>

    <script>
        function toggleMenu() {
            let navigation = document.querySelector(".navigation");
            let toggle = document.querySelector(".toggle");
            navigation.classList.toggle("active");
            toggle.classList.toggle("active");
        }

        function showSearch() {
            let search = document.getElementById("body");
            search.classList.add("blur");
        }

        function showOnOffSettings() {
            let user = document.querySelector(".fa-user");
            let settings = document.querySelector(".settings");
            settings.classList.toggle("hide");
        }


        let subeMenu = document.querySelectorAll(".collapse");
        subeMenu.forEach(subeMenur => {
            console.log(subeMenur);
            let collapse = subeMenur.querySelector(".collapseSubMenu");
            console.log(collapse);
            subeMenur.addEventListener("click", () => {

                collapse.classList.toggle("hide");

            });
        });

        //function toggleSubMenu() {
        //    let navigation = document.querySelector(".collapseSubeMenu");
        //    let arrowOpen = document.querySelector(".toggle_SubMenu");
        //    navigation.classList.toggle("hide");
        //    arrowOpen.classList.toggle("arrowOpen");
        //}

        function toggleCart() {
            let Cart = document.querySelector(".cart");
            let showCart = document.querySelector(".cartBar");
            showCart.classList.toggle("hide");

        }

    </script>
    @*@Scripts.Render("~/bundles/inputmask")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
