<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <script src="https://kit.fontawesome.com/8f0503e7b9.js" crossorigin="anonymous"></script>
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image / x-icon" />
    <title>Tacos & Natchos | Site Oficial</title>
</head>
<body>
    <header>
        <div class="menu responsiveMenu">
            @*<div class="toggle" onclick="toggleMenu()"></div>*@
            <section class="logoWriter">
                <a href="@Url.Action("Index","Home")"><img src="~/imagens/logo_writer_bone.png" alt="Tachos Y Natchos" class="writer"></a>
            </section>

            <nav class="menuItens">
                <li><a href="@Url.Action("List","Produto")" class="resposiveMenuTab">Cardápio</a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-user" onclick="showOnOffSettings()"></i></a></li>
                <li class="iconBar toggle" onclick="toggleMenu()"></li>
            </nav>
        </div>
    </header>
    <main>
        <div class="settings hide">
            <h3>Configurações</h3>
            <section class="settingsItems">
                <a href="@Url.Action("Edit","Funcionario", new {IdFunc = Session["IdFunc"].ToString()})">
                    <span class="icon"><i class="fas fa-user-alt"></i></span>
                    <span class="title">Meus dados</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="@Url.Action("Logout","Usuario")">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Sair</span>
                </a>
            </section>
        </div>
        <div class="navigation background">
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">Clientes</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Cliente")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-id-card"></i></span>
                        <span class="title">Funcionário</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Funcionario")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Funcionario")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-pepper-hot"></i></span>
                        <span class="title">Produtos</span>
                        <!--"fas fa-sort-down" -->
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Produto")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Produto")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-drumstick-bite"></i></span>
                        <span class="title">Ingredientes</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Ingrediente")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Ingrediente")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>

            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-shopping-bag"></i></span>
                        <span class="title">Compra</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Compra")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Compra")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>

            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-truck"></i></span>
                        <span class="title">Fornecedor</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Fornecedor")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Fornecedor")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>

            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="title">Cupom</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Cupom")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Cupom")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>

            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-chair"></i></span>
                        <span class="title">Mesa</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Mesa")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Mesa")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>

            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-box-open"></i></span>
                        <span class="title">Baixa Estoque</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="@Url.Action("Create","Saida_ingre")">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="@Url.Action("List","Saida_ingre")">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
        </div>
        <div class="content">
            @RenderBody()

        </div>
    </main>

    <footer>
        <section class="footerContent">
            <section class="footerContentTop">
                <section class="Contato">
                    <h2>Contato</h2>
                    <p>Telefone: (11) 98276-8933</p>
                    <p>E-mail: tacosynatchos@tacosynatchos.com.br</p>
                </section>
                <section class="End">
                    <h2>Endereço</h2>
                    <p>Rua Rui barbosa, Centro- Bela Vista/SP</p>
                </section>
                <section class="Social">
                    <h2>Social</h2>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>

                </section>
            </section>
            <section class="foooterContentBottom">
                <p>All Right reserved dy Tacos & Natchos</p>
            </section>
        </section>
    </footer>

    <script>
        function toggleMenu() {
            let navigation = document.querySelector(".navigation");
            let toggle = document.querySelector(".toggle");
            navigation.classList.toggle("active");
            toggle.classList.toggle("active");
        }

        function showSearch() {
            let search = document.getElementById("body");
            search.classList.add("blur");
        }

        function showOnOffSettings() {
            let user = document.querySelector(".fa-user");
            let settings = document.querySelector(".settings");
            settings.classList.toggle("hide");
        }


        let subeMenu = document.querySelectorAll(".collapse");
        subeMenu.forEach(subeMenur => {
            console.log(subeMenur);
            let collapse = subeMenur.querySelector(".collapseSubMenu");
            let arrowOpen = subeMenur.querySelector(".toggle_SubMenu");
            console.log(collapse);
            subeMenur.addEventListener("click", () => {
                arrowOpen.classList.toggle("arrowOpen");
                collapse.classList.toggle("hide");

            });
        });


        function toggleCart() {
            let Cart = document.querySelector(".cart");
            let showCart = document.querySelector(".cartBar");
            showCart.classList.toggle("hide");

        }

    </script>
    @*@Scripts.Render("~/bundles/inputmask")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
