@model IEnumerable<TCC.Models.Saida_ingre>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFfunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdUsada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraSaida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFfunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdUsada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraSaida)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { IdSaidaIngre = item.IdSaidaIngre }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    @Html.Raw(TempData["msg"])
</table>
