@model TCC.Models.Produto_pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto_pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProdPed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProdPed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.IdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.IdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comanda.IdComanda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comanda.IdComanda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StagioProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StagioProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHProdPed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHProdPed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescPedido)
        </dd>

    </dl>
</div>
@Html.Raw(TempData["msg"])
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
