@model IEnumerable<TCC.Models.Produto_pedido>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StagioProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHProdPed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPedido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StagioProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHProdPed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescPedido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { IdProdPed = item.IdProdPed }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
