@model IEnumerable<TCC.Models.Produto_pedido>

@{
    Layout = "/Views/Shared/_Cliente.cshtml";
}

<div class="ultimoContent">
    <h1>ÚLTIMOS PEDIDOS</h1>
    <section class="ultimosContent">
        @foreach (var item in Model)
        {

            <section class="ultimosContentItems">
                <p class="name"> @Html.DisplayFor(modelItem => item.NomeProd) </p>
                <p> Quantidade: @Html.DisplayFor(modelitem => item.QtdProd)  </p>
                <p>  @Html.DisplayFor(modelItem => item.DataHProdPed) </p>
                <p> @Html.DisplayFor(modelItem => item.DescPedido) </p>
                <p> @Html.DisplayFor(modelItem => item.StagioProd)</p>
                <p class="preco"> @Html.DisplayFor(modelItem => item.ValorUnitProd) </p>
            </section>


        }
    </section>
</div>