@model IEnumerable<TCC.Models.Produto_pedido>

@{
    Layout = "/Views/Shared/_Cliente.cshtml";
}

<div class="lastOrders">
    <h1>ULTIMOS PEDIDOS</h1>
    @foreach (var item in Model)
    {
        <section class="lastOrderItensRow">
            <section class="lastOrderItensColun name">
                <p> @Html.DisplayFor(modelItem => item.NomeProd) </p>
                <p> Quantidade: @Html.DisplayFor(modelItem => item.QtdProd)  </p>
            </section>
            <section class="lastOrderItensColun datahora">
                <p>  @Html.DisplayFor(modelItem => item.DataHProdPed) </p>
                <p> @Html.DisplayFor(modelItem => item.DescPedido) </p>
                <p> @Html.DisplayFor(modelItem => item.StagioProd)</p>
            </section>
            <section class="lastOrderItensColun preco">
                <p> @Html.DisplayFor(modelItem => item.ValorUnitProd) </p>
            </section>
        </section>



    }
</div>
@section scripts{
    <script>
                                            //window.onload = initPage;
                                            //function initPage() {
                                            //    let
                                            //}
    </script>
}