@model TCC.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumEdif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumEdif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.QtdPontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdPontos)
        </dd>

    </dl>
</div>
@Html.Raw(TempData["msg"])
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCli }) |
    @Html.ActionLink("Back to List", "Index")
</p>
