@model IEnumerable<TCC.Models.Cliente>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CelCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumEdif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdPontos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdCli)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CPF)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Endereco)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NomeCli)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmailCli)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CelCli)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumEdif)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QtdPontos)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Imagem)
    </td>*@

<td>
    @if (!string.IsNullOrEmpty(item.Imagem))
    {
        @*<img src="~/Imagens/logo.jpeg"   alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />*@
        <img src=@string.Format($"/Imagens/{item.Imagem}") alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />
    }
</td>


    @*@if (item.Imagem != null)
        {
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.Imagem);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </td>
        }*@

    <td>
        @Html.ActionLink("Edit", "Edit", new { IdCli = item.IdCli }) |
        @Html.ActionLink("Details", "Details", new { IdCli = item.IdCli }) |
        @Html.ActionLink("Cadastrar Cartao", "Create", "Cartao", new { idCli = item.IdCli }, null)

    </td>
</tr>
}

</table>
