@model IEnumerable<TCC.Models.Produto>

@{
    ViewBag.Title = "BuscaProd";
}

<h2>BuscaProd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("BuscaProd", "Produto", FormMethod.Get))
    {
        @Html.TextBox("busca")<input type="submit" value="Seach" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaProd)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Imagem))
            {
                @*<img src="~/Imagens/logo.jpeg"   alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />*@
                <img src=@string.Format($"/Imagens/{item.Imagem}") alt="Sem imagem" style="width:200px;height:200px;max-width:100%;height:auto" />
                @*<img src="@Url.Action(item.Imagem,"Imagens")" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />*@
                @*<img src="@Url.Content(item.Imagem)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />*@

            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
