@model IEnumerable<TCC.Models.Produto>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cardapio.cshtml";
}

@foreach (var item in Model)
{
<div class="contentDetails">
    <section class="imgDetailsProd">

        <img src="@Url.Content(item.Imagem)" alt="FOTO">
    </section>
    <section class="infoDetailsProd">
        <h1> @Html.DisplayFor(model => item.NomeProd)</h1>
        <p class="infoDetailsProdP"> @Html.DisplayFor(model => item.DescProd)</p>
        <p>@Html.DisplayFor(model => item.ValorProd)</p>
        <section class="detailsFooter">
            @using (Html.BeginForm("AdicionaCarrinho", "Produto_pedido", new { prodId = item.IdProd, valor = item.ValorProd, nome = item.NomeProd, imagem = item.Imagem }, FormMethod.Post))
            {
                <button type="submit">Adicionar ao Carrinho</button>
                @Html.Raw(TempData["msg"])
            }
        </section>
    </section>
</div>
}