@model IEnumerable<TCC.Models.Produto>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Cardapio.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/CSS/card.css">
<div class="cards">
    <section class="card">
        @foreach (var item in Model)
        {
            <article>
                <img src="https://picsum.photos/536/354" alt="FOTO">
                <section class="contentCard">
                    <h4 class="cardTitle">@Html.DisplayFor(modelItem => item.NomeProd)</h4>
                    <p class="nomeproduct"> @Html.DisplayFor(modelItem => item.DescProd)</p>
                    <p class="valorproduct">  @Html.DisplayFor(modelItem => item.ValorProd)</p>
                    <button class="searchProduct" onclick="@Url.Action("Details", "Produto", new { IdProd = item.IdProd })">Detalhes</button>
                </section>
            </article>
        }
    </section>
</div>
@Html.Raw(TempData["msg"])