@model IEnumerable<TCC.Models.Produto>

    @{
        ViewBag.Title = "List";
        Layout = "~/Views/Shared/_Cardapio.cshtml";
    }
    <link rel="stylesheet" type="text/css" href="~/CSS/card.css">

    @using (Html.BeginForm("List", "Produto", FormMethod.Get))
    {
        <section class="searchConteiner">
            <input type="text" class="search-text" name="busca" id="busca" placeholder="Digite alguma coisa..."><button type="submit"><i class="fas fa-search" onclick="showSearch()"></i></button>
        </section>
    }

        <div class="cards">
            <section class="card">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <article>
                    <img src="@Url.Content(item.Imagem)" alt="Sem imagem" />
                    <section class="contentCard">
                        <h4 class="cardTitle">@Html.DisplayFor(modelItem => item.NomeProd)</h4>
                        <p class="nomeproduct"> @Html.DisplayFor(modelItem => item.DescProd)</p>
                        <p class="valorproduct">  @Html.DisplayFor(modelItem => item.ValorProd)</p>
                        <button class="searchProduct"> @Html.ActionLink("Detalhes", "Details", new { IdProd = item.IdProd })</button>
                    </section>
                </article>
                    }
                }
            </section>
        </div>
        @Html.Raw(TempData["msg"])
        @Html.Raw(TempData["msgSemDado"])

