@model IEnumerable<TCC.Models.Produto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<link rel="stylesheet" type="text/css" href="~/CSS/card.css">
<div class="cards">
    <section class="card">
        @foreach (var item in Model)
        {
            <article>
                <img src="https://picsum.photos/536/354" alt="FOTO">
                <section class="contentCard">
                    <h4 class="cardTitle">@Html.DisplayFor(modelItem => item.NomeProd)</h4>
                    <p class="nomeProduct"> @Html.DisplayFor(modelItem => item.DescProd)</p>
                    <p class="valorProduct">  @Html.DisplayFor(modelItem => item.ValorProd)</p>
                    <button class="searchProduct" onclick="@Url.Action("Details", "Details", new { IdProd = item.IdProd })">Detales</button>
                </section>
            </article>
        }
    </section>
    @Html.Raw(TempData["msg"])
</div>