@model TCC.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPFfunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPFfunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Logra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Logra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatNascFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatNascFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumEdif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumEdif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.TipoAcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.TipoAcesso)
        </dd>

    </dl>
</div>
@Html.Raw(TempData["msg"])
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFunc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
