@model TCC.Models.Cartao

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="~/CSS/form.css">
<div class="bodyForm">
    <div class="mainForm">
        <h1 class="formTitle">Cartao</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="wrapper">
                <section class="input-Data">
                    @Html.EditorFor(model => model.Numcartao)
                    <section class="line"></section>
                    @Html.LabelFor(model => model.Numcartao)
                </section>
                @Html.ValidationMessageFor(model => model.Numcartao, "", new { @class = "text-danger" })
            </div>

            <div class="wrapper">
                <section class="input-Data">
                    @Html.EditorFor(model => model.Cvc)
                    <section class="line"></section>
                    @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "content-nome" })
                </section>
                @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
            </div>

            <div class="wrapper">
                <section class="input-Data">
                    @Html.EditorFor(model => model.Titular)
                    <section class="line"></section>
                    @Html.LabelFor(model => model.Titular, htmlAttributes: new { @class = "content-nome" })
                </section>
                @Html.ValidationMessageFor(model => model.Titular, "", new { @class = "text-danger" })
            </div>

            <div class="wrapper">
                <section class="input-Data">
                    @Html.EditorFor(model => model.Datavalid)
                    <section class="line"></section>
                    @Html.LabelFor(model => model.Datavalid, htmlAttributes: new { @class = "content-nome" })
                </section>
                @Html.ValidationMessageFor(model => model.Datavalid, "", new { @class = "text-danger" })
            </div>

            <div class="bottomForm">
                <div>
                    <input type="submit" value="Create" class="btn btn-default" />
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        }
        @Html.Raw(TempData["msg"])
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script> 
    <script src="~/Scripts/Myscript.js"></script>

}
@*<script>
        let input = document.querySelectorAll(".input-Data");
        input.forEach(inputform => {
            console.log(input)
            console.log(inputform)
            let label = inputform.querySelector("label");
            console.log(label)
            inputform.addEventListener("click", () => {

                label.classList.add("translate");



            });
        });

    </script>*@
