@model TCC.Models.Cartao

@{ ViewBag.Title = "Create"; }
<link rel="stylesheet" type="text/css" href="~/CSS/form.css">
<section class="bodyForm">
    <section class="mainForm">
        <h1 class="formTitle">Cartao</h1>
        @using (Html.BeginForm())
        {
@Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <section class="itens">
                                    <section class="inputBox">
                                        @Html.EditorFor(model => model.Numcartao)
                                        <section class="label black">
                                            @Html.LabelFor(model => model.Numcartao, htmlAttributes: new { @class = "content-nome" })
                                        </section>
                                    </section>
                                    @Html.ValidationMessageFor(model => model.Numcartao, "", new { @class = "text-danger" })
                                </section>

                                                <section class="itens">
                                                    <section class="inputBox">
                                                        @Html.EditorFor(model => model.Cvc)
                                                        <section class="label black">
                                                            @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "content-nome" })
                                                        </section>
                                                        @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
                                                    </section>
                                                </section>

                                                                <section class="itens">
                                                                    <section class="inputBox">
                                                                        <input @Html.DisplayTextFor(model => model.Titular)>
                                                                        <section class="label black">
                                                                            @Html.LabelFor(model => model.Titular, htmlAttributes: new { @class = "content-nome" })
                                                                        </section>
                                                                    </section>
                                                                    @Html.ValidationMessageFor(model => model.Titular, "", new { @class = "text-danger" })
                                                                </section>

                                                                                <section class="itens">
                                                                                    <section class="inputBox">
                                                                                        <input @Html.DisplayTextFor(model => model.Datavalid)>
                                                                                        <section class="label black">
                                                                                            @Html.LabelFor(model => model.Datavalid, htmlAttributes: new { @class = "content-nome" })
                                                                                        </section>
                                                                                    </section>
                                                                                    @Html.ValidationMessageFor(model => model.Datavalid, "", new { @class = "text-danger" })
                                                                                </section>

                                                                                                <div class="bottomForm">
                                                                                                    <div>
                                                                                                        <input type="submit" value="Create" class="btn btn-default" />
                                                                                                    </div>
                                                                                                </div>}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </section>
</section>