@model IEnumerable<TCC.Models.Cartao>

@{
    ViewBag.Title = "SelecionaComNumCartaoCli";
}

<div class="ultimoContent">
    <h1>Meus Cartões</h1>
    <section class="ultimosContent meusCartoes">
        @foreach (var item in Model)
        {

            <section class="ultimosContentItems meusCartoesItems">
                <p class="name"> <i class="fas fa-credit-card"></i> @Html.DisplayFor(modelItem => item.Titular) </p>
                <p> Número: @Html.DisplayFor(modelItem => item.Numcartao) </p>
                <p> CVC: @Html.DisplayFor(modelItem => item.Cvc) </p>
                <p> Valiado: @Html.DisplayFor(modelItem => item.Datavalid)</p>
                <section class="meusCartoesButtons">
                    <a href="@Url.Action("Delete","Cartao", new {Numcartao = item.Numcartao})" class="Deletar"> Deletar</a>
                </section>
            </section>
        }
    </section>
    <section class="meusCartoesButtons">
        <a href="" class="Cadastrar"> Cadastrar Cartão</a>
    </section>
</div>
