@model IEnumerable<TCC.Models.Cupom>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodCupom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDispo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodCupom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDispo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { CodCupom = item.CodCupom  }) |
            @Html.ActionLink("Details", "Details", new { CodCupom = item.CodCupom }) |
            @Html.ActionLink("Delete", "Delete", new { CodCupom = item.CodCupom })
        </td>
    </tr>
}

</table>
