@model TCC.Models.Notafiscal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notafiscal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdNF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

    </dl>
</div>
@Html.Raw(TempData["msg"])
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
